<a href="https://colab.research.google.com/github/Subashganesan00/CODEKATA/blob/main/Absolute%20Beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üëã Hi, I‚Äôm @Subashganesan00
üå± I‚Äôm currently learning Advanced Programming and Master Data Science
üì´ How to reach me subashganesan00@gmail.com , 9095450372

# **CODEKATA**

## **Absolute Beginner**

**Q1** You are given with a number "N", find its cube.

Input Description:
A positive integer is provided.

Output Description:
Find the cube of the number.

Sample Input :
2

Sample Output :
8

In [ ]:
a=int(input())
cube=(a*a*a)
print(cube)

2
8

**Q2**.The area of an equilateral triangle is ¬º(‚àö3a2) where "a" represents a side of the triangle. You are provided with the side "a". Find the area of the equilateral triangle.

Input Description:
The side of an equilateral triangle is provided as the input.

Output Description:
Find the area of the equilateral triangle and print the answer up to 2 decimal places after rounding off.

Sample Input :
20

Sample Output :
173.21

In [ ]:
import math

a=int(input())
area=float((math.sqrt(3)*a*a)/4)
print(round(area,2))

20
173.21

**Q3**.You are provided with a number, "N". Find its factorial.

Input Description:
A positive integer is provided as an input.

Output Description:
Print the factorial of the integer.

Sample Input :
2
Sample Output :
2

In [ ]:
a=int(input())
import math
b=math.factorial(a)
print(b)

2
2

**Q4.**You are given Two Numbers, A and B. If C = A + B. Find C.

Note: Round off the output to a single decimal place.

Input Description:
You are provided with two numbers A and B.

Output Description:
Find the sum of the two numbers (A + B)

Sample Input :
1
1
Sample Output :
2

In [ ]:
A=int(input())
B=int(input())
C=(A+B)

print(C)

1
1
2

**Q5**.You are given a number A in Kilometers. Convert this into B: Meters and C: Centi-Metres.

Input Description:
A number "A" representing some distance in kilometer is provided to you as the input.

Output Description:
Convert and print this value in meters and centimeters.

Sample Input :
2
Sample Output :
2000
200000

In [ ]:
A=int(input())
B=(A*1000)
C=(A*100000)

print(B)
print(C)

2
2000
200000

**Q6.**You are given three numbers A, B & C. Print the largest amongst these three numbers.

Input Description:
Three numbers are provided to you.

Output Description:
Find and print the largest among the three

Sample Input :
1
2
3
Sample Output :
3

In [ ]:
A=int(input())
B=int(input())
C=int(input())

list=[A,B,C]

print(max(list))

1
2
3
3

**Q7.**You are provided with two numbers. Find and print the smaller number.

Input Description:
You are provided with two numbers as input.

Output Description:
Print the small number out of the two numbers.

Sample Input :
23 1
Sample Output :
1

In [ ]:
A=(input()).split(' ')
print(min(A))

**Q8.**Using the method of looping, write a program to print the table of 9 till N in the format as follows:
(N is input by the user)

9 18 27...

Print NULL if 0 is input

Input Description:
A positive integer is provided as an input.

Output Description:
Print the table of nine with single space between the elements till the number that is input.

Sample Input :
3
Sample Output :
9 18 27

In [ ]:
def multiple(m, n):
    if (m>0):
        a = range(n, (m * n)+1, n)
        print(*a)
    else:
        print("NULL")

m = int(input())
n = 9
multiple(m, n)

In [ ]:
# function to print the first m multiple
# of a number n without using loop.
def multiple(m, n):
  
    # inserts all elements from n to 
    # (m * n)+1 incremented by n.
    a = range(n, (m * n)+1, n)
      
    print(*a)
  
# driver code 
m = int(input())
n = 9
multiple(m, n)

**Q9.**You are provided with a number "N", Find the Nth term of the series: 1, 4, 9, 16, 25, 36, 49, 64, 81, .......

(Print "Error" if N = negative value and 0 if N = 0).

Input Description:
An integer N is provided to you as the input.

Output Description:
Find the Nth term in the provided series.

Sample Input :
18
Sample Output :
324

In [ ]:
N = int(input())

def series(N):
    if (N>0):
        print(N**2)
    elif (N==0):
        print("0")
    else:
        print("ERROR")
    
series(N)

**Q10.**Print the First 3 multiples of the given number "N". (N is a positive integer)

Note: print the characters with a single space between them.

Input Description:
A positive integer is provided to you as an input.

Output Description:
Print the First 3 multiples of the number with single spaces between them as an output.

Sample Input :
2
Sample Output :
2 4 6

In [ ]:
def multiple(m, n):
    if (m>0):
        a = range(n, (m * n)+1, n)
        print(*a)
    else:
        print("NULL")

m = 3
n = int(input())
multiple(m, n)

In [ ]:
# function to print the first m multiple
# of a number n without using loop.
def multiple(m, n):
  
    # inserts all elements from n to 
    # (m * n)+1 incremented by n.
    a = range(n, (m * n)+1, n)
      
    print(*a)
  
# driver code 
m = 3
n = int(input())
multiple(m, n)

2
2 4 6

**Q11**.You are provided with the radius of a circle "A". Find the length of its circumference.

Note: In case the output is coming in decimal, roundoff to 2nd decimal place. In case the input is a negative number, print "Error".

Input Description:
The Radius of a circle is provided as the input of the program.

Output Description:
Calculate and print the Circumference of the circle corresponding to the input radius up to two decimal places.

Sample Input :
2
Sample Output :
12.57

In [ ]:
import math

r=float(input())

def circumference(radius):
    
    if (r>=0):
        print(round((2*math.pi*r),2)),
    else:
        print('Error')
        
circumference(r)

In [ ]:
import numpy

A=float(input())
b=float(2*numpy.pi*A)
L=round(b,2)

if (A>=0):
  print(L),
else:
  print('Error')

2
12.57

**Q12.**You are provided with a number check whether its odd or even. 

Print "Odd" or "Even" for the corresponding cases.

Note: In case of a decimal, Round off to nearest integer and then find the output. Incase the input is zero, print "Zero".

Input Description:
A number is provided as the input.

Output Description:
Find out whether the number is odd or even. Print "Odd" or "Even" for the corresponding cases. Note: In case of a decimal, Round off to nearest integer and then find the output. In case the input is zero, print "Zero".

Sample Input :
2
Sample Output :
Even

In [ ]:
a=round(int(input()))

def fun(a):
    if (a%2)!=0 :
        print('Odd'),
    elif (a==0) :
        print('Zero'),
    else:
        print('Even')
        
fun(a)

2
Even



**Q13**.You are given A = Length of a rectangle & B = breadth of a rectangle. Find its area ‚ÄúC‚Äù.

(A and B are natural numbers)

Input Description:
The inputs are two natural numbers representing the length and the breadth of a rectangle.

Output Description:
Find the area of the rectangle formed by the provided input. Round off the answer to the first decimal place if required.

Sample Input :
2
3

Sample Output :
6

In [ ]:
a=int(input())
b=int(input())

area=(a*b)

print(round(area))

2
3
6

**Q14.**Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [ ]:
a=int(input())
i = 1
while i <= a:
  print(i)
  if i == a:
    break
  i= i+1

5
1
2
3
4
5

**Q15.**You are given the coefficients of a quadratic equation in order A, B & C.

Where A is the coefficient of X2,  B is the coefficient of X and C is the constant term in the most simplified form.

Example: For  X2 + 5X + 6 = 0, you are given the input as: 1 5 6.

Write a program to find all of the roots of the quadratic.

Note: The output should be up to 2nd decimal place (round off if needed) and in case of a recurring decimal use braces i.e. for eg: 0.33333..... => 0.33.

Note: Use Shri Dharacharya's Method to solve i.e. X = {-b + ‚àö(b¬≤ - 4ac) } / 2a & {-b-‚àö(b¬≤ -4ac)} / 2a

Input Description:
Three numbers corresponding to the coefficients of x(squared), x and constant are given as an input in that particular order

Output Description:
Print the two values of X after rounding off to 2 decimal places if required.

Sample Input :
1 5 6
Sample Output :
-2.00
-3.00

In [ ]:
import math

def fun(a,b,c):
    d = math.sqrt((b**2)-(4*a*c))
    m = (-b+d)/(2*a)
    n = (-b-d)/(2*a)
    print(f'{m:.2f}')
    print(f'{n:.2f}')
    
a,b,c = map(int,input().split())   
fun(a,b,c)

1 5 6
-2.00
-3.00

**Q16.**Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [ ]:
a=input()
i=0
while i<5:
  print(a)
  i=i+1

4
4
4
4
4
4

**Q17.**Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [ ]:
A,N=map(int, input().split())
i=0
while i<N:
  print(A)
  i=i+1

2 3
2
2
2

**Q18.**Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [ ]:
n=int(input())
sum=0
while(n>0):
    dig=n%10
    sum=sum+dig
    n=n//10
print(sum)

124
7

**Q19.**You are given with Principle amount($), Interest Rate(%) and Time (years) in that order. Find Simple Interest.

Print the output up to two decimal places (Round-off if necessary).

(S.I. = P*T*R/100)

Input Description:
Three values are given to you as the input. these values correspond to Principle amount, Interest Rate and Time in that particular order.

Output Description:
Find the Simple interest and print it up to two decimal places. Round off if required.

Sample Input :
1000 2 5
Sample Output :
100.00

In [ ]:
principle_amnt,Interest_rate,Time=map(float, input().split())
#(S.I. = PTR/100)
simpleIntrest=(principle_amnt*Interest_rate*Time)/100

print(round(simpleIntrest,2))

1000 2 5
100.0

**Q20.**Let "A" be a year, write a program to check whether this year is a leap year or not.

Print "Y" if its a leap year and "N" if its a common year.

Input Description:
A Year is the input in the form of a positive integer.

Output Description:
Print "Y" if its a leap year and "N" if its a common year.

Sample Input :
2020
Sample Output :
Y

In [ ]:
year = int(input())

if (year % 4) == 0:
   if (year % 100) == 0:
       if (year % 400) == 0:
           print("Y")
       else:
           print("N")
   else:
       print("Y")
else:
   print("N")

2020
Y

**Q21.**Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [ ]:
N=(input())

print(*N)

348
3 4 8

**Q22.**Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [ ]:
n=int(input())

print(int(n*(n+1)/2))

10
55

**Q23.**Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [ ]:
n = input()
even = []
odd = []
for i in n:
    if int(i) % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even.sort()
odd.sort()
print(*even)
print(*odd)

1234
2 4
1 3

**Q24.**Let "A"  be a string. Remove all the whitespaces and find it's length.

Input Description:
A string is provide as an input

Output Description:
Remove all the whitespaces and then print the length of the remaining string.

Sample Input :
Lorem Ipsum
Sample Output :
10

In [ ]:
a = input()
b = a.split()
new = ''.join(b)
print(len(new))

lorem ipsum
10

In [ ]:
a = input()
b = a.replace(" ","")

print(len(b))

**Q25.**You will be provided with a number. Print the number of days in the month corresponding to that number.

Note: In case the input is February, print 28 days. If the Input is not in valid range print "Error".

Input Description:
The input is in the form of a number.

Output Description:
Find the days in the month corresponding to the input number. Print Error if the input is not in a valid range.

Sample Input :
8
Sample Output :
31

In [ ]:
a = int(input())
b = [1,3,5,7,8,10,12]
c = [4,6,9,11]
d = 2 
if a in b:
    print(31)
elif a in c:
    print(30)
elif a == 2:
    print(28)
else:
    print('Error')

8
31

**Q26.**You are given with a number A i.e. the temperature in Celcius. Write a program to convert this into Fahrenheit. 

Note: In case of decimal values, round-off to two decimal places.

Input Description:
A number is provided in Celcius as the input of the program.

Output Description:
The output shall be the temperature converted into Fahrenheit corresponding to the input value print up to two decimal places and round off if required.

Sample Input :
12
Sample Output :
53.60

In [ ]:
celsius=float(input())
fahrenheit = (celsius * 1.8) + 32

#print(round(fahrenheit,2))
print('%.2f'%(fahrenheit))

12
53.60

**Q27.**Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [ ]:
n=int(input())
for i in range(2,n+1): 
    if i%2==0: 
       print(i)

6
2
4
6

**Q28.**Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [ ]:
N=int(input())

for i in range(N,0,-1):
  print(i)

10
10
9
8
7
6
5
4
3
2
1

**Q29.**Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [ ]:
import math
x,y = map(int,input().split(" "))
print(math.gcd(x,y))

2 3
1

**Q30.**Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [ ]:
A="GUVI"
print(A[::-1])

IVUG