<a href="https://colab.research.google.com/github/Subashganesan00/CODEKATA/blob/main/Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ðŸ‘‹ Hi, Iâ€™m @Subashganesan00
ðŸŒ± Iâ€™m currently learning Advanced Programming and Master Data Science
ðŸ“« How to reach me subashganesan00@gmail.com , 9095450372

# **CODEKATA**

## **BASICS**

**Q1.**Write a program to print the sum of the first K natural numbers.
Input Size : n <= 100000
Sample Testcase :
INPUT
3
OUTPUT
6

In [ ]:
a=int(input())
sum=0
for i in range(a+1):
  sum=sum+i
print(sum)

3
6

**Q2.**Write a code to get the input and print it 5 times.

Input Description:
A single line contains an integer N.

Output Description:
Output contains 5 lines with each line having the value N.

Sample Input :
4
Sample Output :
4
4
4
4
4

In [ ]:
a=input()
i=0
while i<5:
  print(a)
  i=i+1

4
4
4
4
4
4

**Q3.**Given 3 numbers N , L and R. Print 'yes' if N is between L and R else print 'no'.
Sample Testcase :
INPUT
3
2 6
OUTPUT
yes

In [ ]:
N=int(input())
L,R=map(int,input().split())

if N in range(L,R):
  print('yes'),
else:
  print('no')

3
2 6
yes

**Q4**.Given a number N, print 'yes' if it is composite else print 'no'.
Sample Testcase :
INPUT
123
OUTPUT
yes

In [ ]:
N=int(input())
i=0
for i in range(1,N):
  if N%i==0:
    factor=i
if factor>1:
  print ('yes')
else:
  print ('no')

123
yes

**Q5**Given numbers A,B find A^B.
Input Size : 1 <= A <= 5 <= B <= 50
Sample Testcase :
INPUT
3 4
OUTPUT
81

In [ ]:
A,B=map(int,input().split(" "))
c=(A**B)
print(c)

3 4
81

**Q6.**Given 2 numbers N,M. Print 'yes' if their product is a perfect square else print 'no'.
Sample Testcase :
INPUT
5 5
OUTPUT
yes

In [ ]:
import math

N,M=map(int,input().split(" "))

root=N*M
if (root**0.5)==N:
    print("yes")
else:
    print("no")

5 5
yes

**Q7.**Write a code to get an integer N and print values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from 1 to N in a separate line.

Sample Input :
5
Sample Output :
1
2
3
4
5

In [ ]:
a=int(input())
i = 1
while i <= a:
  print(i)
  if i == a:
    break
  i= i+1

**Q8.**Given 2 numbers N and M add both the numbers and check whether the sum is odd or even.
Sample Testcase :
INPUT
9 2
OUTPUT
odd

In [ ]:
N,M=map(int,input().split(" "))

sum=(M+N)

if (sum%2)==0:
  print('even')
else:
  print('odd')

9 2
odd

**Q9.**Write a code to get an integer N and print the sum of  values from 1 to N.

Input Description:
A single line contains an integer N.

Output Description:
Print the sum of values from 1 to N.

Sample Input :
10
Sample Output :
55

In [ ]:
n=int(input())

print(int(n*(n+1)/2))

**Q10**.Given base(B) and height(H) of a triangle find its area.
Input Size : N <= 1000000
Sample Testcase :
INPUT
2 4
OUTPUT
4

In [ ]:
B,H=map(int,input().split(" "))
triangle=((1/2)*(B*H))

print(round(triangle,1))

3 3
4.5

**Q11.**Write a code to get 2 integers A and N. Print the integer A, N times in separate line.

Input Description:
First line contains an integer A. Second line contains an Integer N.

Output Description:
Print the integer A, N times in a separate line.

Sample Input :
2 3
Sample Output :
2
2
2

In [ ]:
A,N=map(int, input().split())
i=0
while i<N:
  print(A)
  i=i+1

**Q12.**Given a number N and an array of N elements ,find the Bitwise AND of the array elements.
Input Size N <= 100000
Sample Testcase :
INPUT
4
4 3 2 1
OUTPUT
0

In [ ]:
n=int(input())
l=list(map(int,input().split()))
sum=l[0]
for i in range(1,n):
  sum = (sum & int(l[i]))
print(sum)

**Q13.**Given 2 numbers N and K followed by elements of N .Print 'yes' if K exists else print 'no'.
Sample Testcase :
INPUT
4 2
1 2 3 3
OUTPUT
yes

In [ ]:
N,K=map(int,input().split(" "))
L=list(map(int,input().split(" ")))

if K in L:
  print("yes")
else:
  print("no")

**Q14.**Given a range of 2 numbers (i.e) L and R count the number of prime numbers in the range (inclusive of L and R ).
Input Size : L <= R <= 100000(complexity O(n) read about Sieve of Eratosthenes)
Sample Testcase :
INPUT
2 5
OUTPUT
3

In [ ]:
L,R=map(int,input().split(" "))
i=0
a=[]
for i in range(L,R+1):
    if (i%2)!=0:
        a.append(i)
print(a)

**Q15.**Given 3 numbers A,B,C process and print 'yes' if they can form the sides of a triangle otherwise print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
a,b,c=map(int,input().split())

if a+b>c and b+c>a and c+a>b:
    print("yes")
else:
    print("no")

**Q16.**Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [ ]:
N=int(input())

for i in range(N,0,-1):
  print(i)

**Q17.**Given an array of N elements switch(swap) the element with the adjacent element and print the output.
Sample Testcase :
INPUT
5
3 2 1 2 3
OUTPUT
2 3 2 1 3

**Q18.**Write a code to get a integer n as input and calculate the smallest perfect power of 2 greater than n.

Input Description:
A single line containing an integer,n.

Output Description:
Print the smallest perfect power of 2 greater than n.

Sample Input :
48
Sample Output :
64

In [ ]:
s=int(input())
n=2
d=[]
for i in range(20):
    n=n*2
    d.append(n)
for i in d:
    if i>s:
        print(i)
        break

**Q19.**Write a code to get an integer N and print the digits of the integer.

Input Description:
A single line contains an integer N.

Output Description:
Print the digits of the integer in a single line separated by space,

Sample Input :
348
Sample Output :
3 4 8

In [ ]:
N=(input())

print(*N)

**Q20.**Find the minimum among 10 numbers.
Sample Testcase :
INPUT
5 4 3 2 1 7 6 10 8 9
OUTPUT
1

In [ ]:
a=map(int,input().split())
print(min(a))

**Q21**.Given 2 numbers N and K followed by N elements,print the number of repetition of K otherwise print '-1' if the element not found.
Sample Testcase :
INPUT
6 2
1 2 3 5 7 8
OUTPUT
0

In [ ]:
b,k = map(int,input().split())
n = list(map(int,input().split()))
flag = 0
if k in n:
    flag += 1
    if flag > 1:
        print(flag)
    else:
        print(0)
else:
    print(-1)

**Q22**.Write a code to get 2 integers as input and find the HCF of the 2 integer without using recursion or Euclidean algorithm.

Input Description:
A single line containing 2 integers separated by space.

Output Description:
Print the HCF of the integers.

Sample Input :
2 3
Sample Output :
1

In [ ]:
import math
x,y = map(int,input().split(" "))
print(math.gcd(x,y))

**Q23.**Given 3 numbers A,B,C print 'yes' if they can form the sides of a right angled triangle,otherwise 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
a,b,c=map(int,input().split())

if a+b>c and b+c>a and c+a>b:
    print("yes")
else:
    print("no")

**Q24.**Write a code to get 2 integers as input and add the integers without any carry.

Input Description:
A single line containing 2 integers.

Output Description:
Print sum of the 2 integers without carry

Sample Input :
44 66
Sample Output :
0

In [ ]:
A = str(a)
B = str(b)

if c < 110 and ( len(d) > len(A) or len(d) > len(B)) :
    print(d[-1])
    
elif c > 110 :
    print((c - 100)/2)
    
else:
    print(c)

**Q25.**Write a code get an integer number as input and print the sum of the digits.

Input Description:
A single line containing an integer.

Output Description:
Print the sum of the digits of the integer.

Sample Input :
124
Sample Output :
7

In [ ]:
n=int(input())
sum=0
while(n>0):
    dig=n%10
    sum=sum+dig
    n=n//10
print(sum)

**Q26.**Given a number N and an array of N elements, find the Bitwise OR of the array elements.
Input Size : N <= 100000
Sample Testcase :
INPUT
2
2 4
OUTPUT
6

In [ ]:
n=int(input())
l=list(map(int,input().split()))
sum=l[0]
for i in range(1,n):
  sum = (sum | int(l[i]))
print(sum)

**Q27.**Given a number N followed by N numbers.Find the smallest number and largest number and print both the indices(1 based indexing).
Input Size : N <= 100000
Sample Testcase :
INPUT
5
1 2 3 4 5
OUTPUT
1 5

In [ ]:
n = int(input())
l =list(map(int, input().split()))
c=[]
a=c.append(l.index(min(l)))
b=c.append(l.index(max(l)))
d=[]
i=0
for i in c:
  d.append(i+1)

print(*d)

**Q28.**Given a number N, print the Bitwise NOT of that number.
Input Size : 1 <= N <= 10000
Sample Testcase :
INPUT
5
OUTPUT
-6

**Q29.**Given 3 numbers A,B,C print 'yes' if they can form the sides of a scalene triangle else print 'no'.
Input Size : A,B,C <= 100000
Sample Testcase :
INPUT
3 4 5
OUTPUT
yes

In [ ]:
a,b,c=(map(int,input().split()))

if a==b or b==c or c==a:
  print("no")
else:
  print("yes")

**Q30.**Kabali is a brave warrior who with his group of young ninjas moves from one place to another to fight against his opponents. Before Fighting he just calculates one thing, the difference between his ninja number and the opponent's ninja number. From this difference he decides whether to fight or not. Kabali's ninja number is never greater than his opponent.
Input
The input contains two numbers in every line. These two numbers in each line denotes the number ninjas in Kabali's clan and his opponent's clan . print the absolute difference of number of ninjas between Kabali's clan and his opponent's clan. Each output should be in seperate line.
Sample Testcase :
INPUT
100 200
OUTPUT
100

In [ ]:
a,b=(map(int, input().split()))

c=(b-a)

print(c)

**Q31.**Given a string S consisting of 2 words reverse the order of two words .
Input Size : |S| <= 10000000
Sample Testcase :
INPUT
hello world
OUTPUT
world hello

In [ ]:
a=input().split(" ")

b=(a[::-1])
print(*b)

**Q32.**Check whether the given 4 points form a square or not.
Example:
INPUT
10 10
10 20
20 20
20 10
OUTPUT
yes

**Q33.**Given a list of N coins, their values (V1, V2, â€¦ , VN), and the total sum S. Find the minimum number of coins the sum of which is S (we can use as many coins of one type as we want), if it is not possible to select coins in such a way that they sum up to S then print '-1'.
Example: Given coins with values 1, 3, and 5. And the sum S is 11.
Output: 3, 2 coins of 3 and 1 coin of 5
Input Size : N<=10000
Example:
INPUT
3 11
1 3 5
OUTPUT
3

**Q34.**Write a program to get a string as input and reverse the string without using temporary variable.

Input Description:
A single line containing a string.

Output Description:
Print the reversed string.

Sample Input :
GUVI
Sample Output :
IVUG

In [ ]:
A=str(input())
print(A[::-1])

**Q35.**The Romans have attacked again. This time they are much more than the Persians but Shapur is ready to defeat them. He says: 'A lion is never afraid of a hundred sheep'.

Nevertheless Shapur has to find weaknesses in the Roman army to defeat them. So he gives the army a weakness number.

In Shapur's opinion the weakness of an army is equal to the number of triplets i,â€‰j,â€‰k such that iâ€‰<â€‰jâ€‰<â€‰k and aiâ€‰>â€‰ajâ€‰>â€‰ak where ax is the power of man standing at position x. The Roman army has one special trait â€” powers of all the people in it are distinct.

Help Shapur find out how weak the Romans are.

The first line of input contains a single number n, the number of men in Roman army. Next line contains n different positive integers powers of men in the Roman army.
Input Size : N<=100000
Example:
INPUT
3
3 2 1
OUTPUT
1

**Q36.**Write a code to get an integer N and print the even values from 1 till N in a separate line.

Input Description:
A single line contains an integer N.

Output Description:
Print the even values from 1 to N in a separate line.

Sample Input :
6
Sample Output :
2
4
6

In [ ]:
n=int(input())
for i in range(2,n+1): 
    if i%2==0: 
       print(i)

**Q37.**Let P represent Paper, R represent Rock and S represent Scissors. Given 2 out of the 3 determine which one wins. If its a draw print 'D'.
Sample Testcase :
INPUT
R P
OUTPUT
P

**Q38.**Write a code get an integer number as input and print the odd and even digits of the number separately.

Input Description:
A single line containing an integer.

Output Description:
Print the even and odd integers of the integer in a separate line.

Sample Input :
1234
Sample Output :
2 4
1 3

In [ ]:
n = input()
even = []
odd = []

def function(n):
    for i in n:
        if int(i) % 2 == 0:
            even.append(i)
        else:
            odd.append(i)
    even.sort()
    odd.sort()
    print(*even)
    print(*odd)
    
function(n)

**Q39**.Given 2 numbers N,M find the GCD of N and M.If it cannot be found for given number(s) then print -1
Sample Testcase :
INPUT
10 5
OUTPUT
5

In [1]:
import math
M,N=map(int,input().split(" "))
a=math.gcd(M,N)

if M>0 and N>0:
  print(a)
elif M==0 or N==0:
  print("-1")
else:
  print("1")

10 15
5

**Q40.**The Caesar Cipher technique is one of the earliest and simplest method of encryption technique. Itâ€™s simply a type of substitution cipher, i.e., each letter of a given text is replaced by a letter some fixed number of positions down the alphabet. For example with a shift of 1, A would be replaced by B, B would become C, and so on. The method is apparently named after Julius Caesar, who apparently used it to communicate with his officials.For the given input string(S) and shift print the encrypted string.
Sample Testcase :
INPUT
ABCdEFGHIJKLMNOPQRSTUVWXYz 23
OUTPUT
XYZaBCDEFGHIJKLMNOPQRSTUVw

**Q41.**Given a string 'S' swap the even and odd characters starting from index 1(Assume the index starts from 0).
Input Size : |s| <= 10000000(complexity O(n))
Sample Testcase :
INPUT
codekata
OUTPUT
ocedakat

In [ ]:
s=input()
t=list(s)
t[::2],t[1::2]=t[1::2],t[::2]
c=''.join(t)
print(c)