<a href="https://colab.research.google.com/github/Subashganesan00/CODEKATA/blob/main/codekata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ðŸ‘‹ Hi, Iâ€™m @Subashganesan00
ðŸŒ± Iâ€™m currently learning Advanced Programming and Master Data Science
ðŸ“« How to reach me subashganesan00@gmail.com , 9095450372

# **CODEKATA**

## **Input/Output**

**Q1**.Write a code to get the input in the given format and print the output in the given format

Input Description:
To take an integer value

Output Description:
Print the integer value

Sample Input :
2
Sample Output :
2

In [ ]:
a=int(input())
print(a)
type(a)

2
2

int

**Q2**.Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains integers separated by space

Output Description:
Print the integer list of integers separated by space

Sample Input :
2 3 4 5 6 7 8
Sample Output :
2 3 4 5 6 7 8

In [ ]:
a=input().split(' ')
b=list(map(int,a))
print(*b)
type(b)

2 3 4 5 6 7 8
2 3 4 5 6 7 8

list

**Q3**.Write a code to get the input in the given format and print the output in the given format.

Input Description:
First-line indicates two integers which are the size of array and 'K' value. Second-line indicates an integer contains elements of an array.

Output Description:
Print the taken input in the same format.

Sample Input :
5 3
1 2 3 4 5
Sample Output :
5 3
1 2 3 4 5

In [ ]:
a=input().split(" ")
b=input().split(" ")
c=list(map(int,a))
d=list(map(int,b))
print(*c)
print(*d)
type(c)
type(d)

15 3
21 2 3 4 5
5 3
1 2 3 4 5

list

**Q4**.Input Description:
First-line indicates two integers separated by space. Second-line indicates two integers separated by space. Third-line indicates two integers separated by space.

Output Description:
Print the input in the same format.

Sample Input :
2 4
2 4
2 4
Sample Output :
2 4
2 4
2 4

In [ ]:
a=input().split(" ")
b=input().split(" ")
c=input().split(" ")
A=list(map(int,a))
B=list(map(int,b))
C=list(map(int,c))
print(*A)
print(*B)
print(*C)
type(A)
type(B)
type(C)

12 4
22 4
32 4
2 4
2 4
2 4

list

**Q5**.Write a code to get the input in the given format and print the output in the given format

Input Description:
Three integers are given in line by line.

Output Description:
Print the integers in a single line separate by space.

Sample Input :
2
4
5
Sample Output :
2 4 5

In [ ]:
a=int(input())
b=int(input())
c=int(input())
print(a,b,c)

2
4
5
2 4 5

**Q6**.Write a code to get the input in the given format and print the output in the given format

Input Description:
First-line indicates two integers separated by space. Second-line indicates three integers separated by space. Third-line indicates three integers separated by space

Output Description:
Print the input in the same format.

Sample Input :
2 5
2 5 6
2 4 5
Sample Output :
2 5
2 5 6
2 4 5

In [ ]:
a=input()
b=input()
c=input()
print(a)
print(b)
print(c)
type(a)

2 5
2 5 6
2 4 5
2 5
2 5 6
2 4 5

str

**Q7**.Write a code to get the input in the given format and print the output in the given format

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by space.

Sample Input :
guvi
Sample Output :
g u v i

In [ ]:
a=input()
print(*a)

guvi
g u v i

**Q8**.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains three float values separated by space.

Output Description:
Print the float value separated by line.

Sample Input :
2.3 4.5 7.8
Sample Output :
2.3
4.5
7.8

In [ ]:
a=input().split()
for i in a:
  print(i)

2.3 2.1 2.5
2.3
2.1
2.5

In [ ]:
a=input().split(" ")

for j in a:
  print(j)

2.3 4.5 7.8
2.3
4.5
7.8

**Q9**.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by line.

Sample Input :
guvigeek
Sample Output :
g
u
v
i
g
e
e
k

In [ ]:
a=input()
for i in a:
  print(i)

guvigeek
g
u
v
i
g
e
e
k

**Q10**.Write a code to get the input in the given format and print the output in the given format.

Input Description:
A single line contains a string.

Output Description:
Print the characters in a string separated by comma.

Sample Input :
guvi
Sample Output :
g,u,v,i

In [ ]:
a=input()
for i in a[:len(a)-1]:
  print(i,end=",")
print(a[len(a)-1])

guvi
g,u,v,i

In [ ]:
a=input()
for i in a[0:-1]:
    print(i,end=',')
print(a[len(a)-1])

guvi
g,u,v,i

In [ ]:
a="guvi"

for i in a[0:-1]:
  print(i,end=(","))
print(a[-1:])

g,u,v,i